<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Quadruped WebInterface</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/site.min.js"></script>
</head>
<body>
@*<nav >
    <a asp-page="/Index">Home</a>
</nav>*@
@RenderBody()
@*<div class="container body-content">
        <footer>
            <p>&copy; 2017 - TestWebApp</p>
        </footer>
    </div>*@
</body>
</html>
