.joystick {
    text-align: center;
    position: relative;
}

.moveJoystick {
    background-color: lightblue;
}

.rotationJoystick {
    background-color: lightcoral;
}

.videoImage {
    width: 100%;
    height: auto;
}

@media screen and (orientation:landscape) {
    .moveJoystick {
        float: left;
        width: 30%;
        height: 100%;
    }

    .videoSegment {
        width: 40%;
        position: absolute;
        left: 30%;
        min-height: 40%;
    }

    .rotationJoystick {
        float: right;
        width: 30%;
        height: 100%;
    }
}

@media screen and (orientation:portrait) {
    .moveJoystick {
        width: 100%;
        height: 30%;
    }

    .videoSegment {
        width: auto;
        max-width: 100%;
        position: relative;
        display: block;
        height: 40%;
    }

    .rotationJoystick {
        width: 100%;
        height: 30%;
    }
}
