@page
@using Quadruped.WebInterface.Pages
@model global::Quadruped.WebInterface.Pages.SettingsPageModel
@{
    ViewData["Title"] = "SettingsPage";
}

<h2>SettingsPage</h2>
<div>
    <form method="post">
        <div>Framerate <input asp-for="StreamConfiguration.Framerate" /></div>
        <div>HorizontalResolution <input asp-for="StreamConfiguration.HorizontalResolution"/></div>
        <div>VerticalResolution <input asp-for="StreamConfiguration.VerticalResolution" /></div>
        <div>ImageQuality <input asp-for="StreamConfiguration.ImageQuality" /></div>
        
        <h3>Relaxed stance adjustment</h3>
        <div>X:<input asp-for="RelaxedStance.X" /></div>
        <div>Y:<input asp-for="RelaxedStance.Y" /></div>
        <div>Z:<input asp-for="RelaxedStance.Z" /></div>
        
        <h3>gait configuration</h3>
        <div>FrontLegShift:<input asp-for="RobotConfiguration.FrontLegShift" /></div>
        <div>RearLegShift:<input asp-for="RobotConfiguration.RearLegShift" /></div>
        <div>LiftHeight:<input asp-for="RobotConfiguration.LiftHeight" /></div>

        <input type="submit"/>
    </form>
</div>
