@page
@model Quadruped.WebInterface.Pages.StanceControllerModel
@{
    ViewData["Title"] = "StanceController";
}
<link rel="stylesheet" href="~/css/StanceController.css" />
<div id="telemetrics_display" class="telemetricsDisplay"><strong>Temperature</strong> {{ averageTemperature.toFixed(2) }} &deg;C <strong>Voltage</strong> {{ averageVoltage.toFixed(2) }} V</div>
<div class="joystick translationJoystick" id="translation_joystick_zone">
    <strong>Move joystick</strong>
    <div>Angle: {{ angle.toFixed(2) }} Distance: {{ distance.toFixed(2) }}</div>
</div>
<div class="joystick heightJoystick" id="height_joystick_zone">
    <strong>Height joystick</strong>
    <div>Angle: {{ angle.toFixed(2) }} Distance: {{ distance.toFixed(2) }}</div>
</div>
<div class="joystick rotationJoystick" id="rotate_joystick_zone">
    <strong>Rotation joystick</strong>
    <div>Angle: {{ angle.toFixed(2) }} Distance: {{ distance.toFixed(2) }}</div>
</div>

@section Scripts {
    <script src="~/lib/nipplejs/dist/nipplejs.min.js"></script>
    <script src="~/js/StanceController.js"></script>
}
