@page
@using global::Quadruped.WebInterface.Pages
@model global::Quadruped.WebInterface.Pages.VideoRobotModel
@{
    ViewData["Title"] = "VideoRobot";
}

<link rel="stylesheet" href="~/css/VideoRobotController.css" />
<div class="videoSegment" id="video_image_container">
    <div>Angle: {{ angle.toFixed(2) }} Distance: {{ distance.toFixed(2) }}</div>
    <img class="videoImage" id="video_image"/>
</div>
<div class="joystick moveJoystick" id="move_joystick_zone">
    <strong>Move joystick</strong>
    <div>Angle: {{ angle.toFixed(2) }} Distance: {{ distance.toFixed(2) }}</div>
</div>
<div class="joystick rotationJoystick" id="rotate_joystick_zone">
    <strong>Rotation joystick</strong>
    <div>Angle: {{ angle.toFixed(2) }} Distance: {{ distance.toFixed(2) }}</div>
</div>

@section scripts {
    <script src="~/lib/nipplejs/dist/nipplejs.min.js"></script>
    <script src="~/js/RobotController.js"></script>
    <script src="~/js/VideoStreaming.js"></script>
}
